---
import Social from "./social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <Social platform="github" username="sovahteer" />
    <Social platform="twitter" username="sovahteer" />
    <Social platform="tumblr" username="sovahteer" />
    <Social platform="instagram" username="sovahteer" />
    <Social platform="artstation" username="thecableton" />
  </p>
</footer>
